/* JavaScript + DOM Practice */

@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
body{
    font-family: 'Padauk', sans-serif;
}
h1{
    text-align:center;
    font-size: 4em;
    color:#FFFFFF;
    text-shadow:2px 2px 4px #000000;
}
p{
    text-align: center;
    font-size:2em;
}

button{
    background-color:#9400D3;
    color:#ffffff;
    font-size:1.5em;
    font-weight: bold;
    border-radius: 5px;
    padding:15px;
    width: 20%;
}
input{
    font-size:1.5em;
    padding:15px;
    color: #9400D3;
    width: 60%;
    outline:none;
}
.grid{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width:60%;
}
li{
    font-size:1.5em;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #ffffff;
    color:#9400D3;
    margin-bottom:5px;
    list-style-type:decimal;
}
li:hover{
    background-color:#9400D3;
    transform: scale(1.03);
    color: #ffffff;
    font-weight: bold;
}
.done{
    text-decoration: line-through;
}
li:hover .custBtn{
    color: #ffffff;
    cursor: pointer;
}
.custBtn{
    position:relative;
    display:block;
    float: right;
    right:12px;
    padding:1px;
    background:transparent;
    color:#9400D3;
    width: 10px;
    height: 30px;
    border-left: 0px;
    border-radius: 0 10px 10px 0;
    transition: all .2s;
}
footer{
    bottom: 0;
    position:fixed;
    width:100%;
    color: #fff;
    font-weight: bold;
    font-size:1.3em;
    padding: 10px;
    text-align:center;
}